.footer{
    
    min-height: 645px;
    background-image: url(../../img/footer__bg.png);
    background-repeat: no-repeat;
    background-size: auto;
   
    &__wrapper{
        display: flex;
    }


    .connect{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 175px;
      

        .social{
            display: flex;
            justify-content: space-between;

            &__item{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                background-color: #fff;
                border-radius: 100%;
                margin-bottom: 5px;

                img{
                    display: block;
                    margin-bottom: 3px;
                }
            }
        }

        .social{
            width: 147px;
        }

        .mail{
            margin-left: 98px;
            a{  
                font-size: 16px;
                line-height: 25px;
                letter-spacing: 0.05em;
                color: rgba(255, 255, 255, 0.75);
            }
           
            img{
                margin-right: 17px;
            }
        }

        .phone{
            a{
                font-size: 16px;
                line-height: 25px;
                letter-spacing: 0.05em;
                color: rgba(255, 255, 255, 0.75);
            }
            img{
                margin-right: 22px;
            }
        }
    }
    .divider{
        margin-top: 43px;
        display: block;
        width: 1032px;
        height: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    }
    &__bottom{
        display: flex;
    }

    .subheader{
        margin-top: 70px;
        font-size: 20px;
        line-height: 31px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        font-weight: 500;
    }

    .text{
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    input[type="text"]{
        margin-top: 14px;
        width: 300px;
        height: 50px;
        background: #FFFFFF;
        box-shadow: 0px 11px 22px #0057BE;
        border-radius: 65px;
        outline: none;
        border: none;
        
    }
    input::placeholder {
        
        color: #E1E1E1;
        font-weight: 500;
    }

    &__bottom{

      
        &__item{

            &__divider{
                width: 100px;
                height: 0px;
                border-bottom: 2px solid #FFFFFF;
            }

            

             ul{
                list-style-type: none;
                padding-left: 0;
             }

             li{
                 margin-top: 5px;
             }

             a{
                text-decoration: none;
                font-size: 14px;
                line-height: 17px;
                font-weight: medium;
                letter-spacing: 0.05em;
                color: rgba(255, 255, 255, 0.6);

             }


            &:first-child{
                width: 360px;
                margin-left: 80px;

            }
                .text{
                    margin-top: 31px;
                }

            &:nth-child(2){
                margin-left: 95px;
            }
            &:nth-child(3){
                margin-left: 91px;
            }
            &:nth-child(4){
                margin-left: 91px;
            }

            
            position: relative;
                button{
                    position: absolute;
                    top:213px;
                    left: 245px;
                    width: 50px;
                    height: 50px;
                    background-color: rgba(0, 0, 0, 0);
                    
                    border-radius: 100%;
                    border:none;
                    outline: none;
                }
        }
    }
  
}