.footer{
    min-height: 645px;
    background-image: url(../../img/footer__bg.png);
    background-repeat: no-repeat;
    background-size: auto;
   
    &__wrapper{
        display: flex;
    }


    .connect{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 175px;
      

        .social{
            display: flex;
            justify-content: space-between;

            &__item{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                background-color: #fff;
                border-radius: 100%;
                margin-bottom: 5px;

                img{
                    display: block;
                    margin-bottom: 3px;
                }
            }
        }

        .social{
            width: 147px;
        }

        .mail{
            a{
                font-size: 16px;
                line-height: 25px;
                letter-spacing: 0.05em;
                color: rgba(255, 255, 255, 0.75);
            }
           
            img{
                margin-right: 17px;
            }
        }

        .phone{
            a{
                font-size: 16px;
                line-height: 25px;
                letter-spacing: 0.05em;
                color: rgba(255, 255, 255, 0.75);
            }
            img{
                margin-right: 22px;
            }
        }
    }
    .divider{
        margin-top: 43px;
        display: block;
        width: 1032px;
        height: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    }

}