.section-6{
    min-height: 861px;
    background-image: url(../../img/Group10.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left bottom;

    &__wrapper{
       
        display: flex;
        justify-content: space-between;
    }

    &__carousel{
        
        display: block;
        width: 455px;
        height: 455px;
        .block{
            margin-top: 250px;
            width: 452px;
            height: 335px;
            background: #FFFFFF;
            // box-shadow: 0px 12px 56px rgba(221, 219, 255, 0.9);
            border-radius: 10px;
            &__avatar{
               position: relative;
              
                img{
                    position: absolute;
                    top: -56px;
                    left:170px;
                    display: block;
                    width: 126px;
                    height: 126px;
                    border: 7px solid #FFFFFF;
                    border-radius: 100%;
                    filter: drop-shadow(4px 7px 29px rgba(198, 198, 255, 0.43));

                }
                
            }
            &__name{
                padding-top: 76px;
                font-family: 'Damion', cursive;
                font-size: 26px;
                line-height: 48px;
                text-align: center;
                letter-spacing: 0.05em;
                color: #7C7C7C;
            }
            &__city{
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.05em;
                color: #7C7C7C;
                margin-bottom: 13px;
            }
            &__text{
                margin: 0 auto;
                width: 356px;
                font-size: 16px;
                line-height: 25px;
                text-align: center;
                letter-spacing: 0.05em;

color: #7C7C7C;
            }
        }
    }
     &__right{
        position: relative;
        .manimg{
            position: absolute;
            top:167px;
            right: -9px;
            display: block;
            width: 126px;
            height: 126px;
            border: 7px solid #FFFFFF;
            border-radius: 100%;
            filter: drop-shadow(4px 7px 29px rgba(198, 198, 255, 0.43));
            
        }

        .bedding{
            margin-left: 180px;
            margin-top: 347px;
            width: 280px;
            font-size: 32px;
            line-height: 37px;
            font-weight: 500;
            letter-spacing: 0.05em;
            color: #1D1D1D;
            &__text{
                margin-top: 30px;
                margin-left: 180px;
                width: 370px;
                font-size: 16px;
                line-height: 25px;
                letter-spacing: 0.05em;
                color: #7C7C7C;
            }
        
        }


    }
   .slick-dots{
       display: flex;
       justify-content: center;
       align-items: center;
       list-style-type: none;
     
       
   }
   .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    margin: 31px 8px;
    height: 12px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: url(../../icons/Ellipse.png) no-repeat 0 0 / cover;
}
.slick-dots li.slick-active button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    margin: 29px 8px;
    height: 16px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: url(../../icons/Ellipse_active.png) no-repeat 0 0 / cover;
}
}